.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:inline-block;
  text-align: center;
  font-size: 50px;
  margin: 5px;

  width: 80px;
  height: 90px;
  line-height: 90px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card.white {
  background-color: white;
}

.card.green {
  background-color: #b5e7a0;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.card.red {
  background-color: #eea29a;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.card.current {
  width: 90px;
  height: 100px;
  line-height: 100px;
}
